<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <avosdim_weather>
            <general>
                <enabled>1</enabled>
                <api_url>https://api.openweathermap.org/data/2.5/weather</api_url>
                <api_key>bddac0c51cb13b6cd0b49770a9905c64</api_key>
            </general>
            <localization>
                <city>Lille</city>
            </localization>
        </avosdim_weather>
    </default>
</config>
